<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer">
    <footer class="blog-footer">
        <p>Build by <a href="https://github.com/spring-projects/spring-boot">Spring Boot</a>
            and <a href="https://github.com/twbs/bootstrap">Bootstrap</a>.
            Fork me on <a href="https://github.com/xlui/Eros"><i class="fa fa-fw fa-github"></i>GitHub</a>!</p>
        <p><a href="#">Back to top</a></p>
    </footer>

    <script type="text/javascript" th:src="@{~/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{~/bootstrap/js/bootstrap.min.js}"></script>
</th:block>
</html>