<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="base::header('关于 | Eros')"/>
</head>
<body>
<th:block th:replace="base::masthead('about')"/>

<div class="container">
    <th:block th:replace="base::head"/>

    <div class="row">
        <div class="col-sm-8 blog-main">
            <p>Eros 是基于 Spring Boot 和 Bootstrap 的博客程序，数据库选用 MariaDB，Web 容器使用 Tomcat，部署在 CentOS7 上。  </p>
            <br/>
            <p>Email: i@xlui.me</p>
            <br/>
            <p>GitHub: <a href="https://github.com/xlui/Eros">https://github.com/xlui/Eros</a></p>
        </div>

        <th:block th:replace="base::side"/>
    </div>
</div>

<th:block th:replace="base::footer"/>
</body>
</html>