<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="base::head(${article.getTitle()} + ' | Eros')"/>
    <link rel="stylesheet" th:href="@{~/css/article.css}"/>
</head>
<body>
<th:block th:replace="base::masthead(null)"/>

<div class="container">

    <div class="row">
        <div class="col-sm-8 blog-main">
            <div class="blog-header">
                <h2 class="blog-post-title">
                    <th:block th:text="${article.title}"/>
                </h2>
                <p class="blog-post-meta">
                    <span class="glyphicon glyphicon-calendar"></span>
                    发表于
                    <th:block th:text="${article.getDate()}"/>
                    &nbsp; | &nbsp;
                    <span class="glyphicon glyphicon-folder-close"></span>
                    分类于
                    <a th:href="@{/sorts/{sortName}(sortName=${article.getSort().getSortName()})}">
                        <th:block th:text="${article.getSort().getSortName()}"/>
                    </a>
                </p>
                <!--<p class="lead blog-description">A blog project based spring boot.</p>-->
            </div>

            <span id="content" th:text="${article.getContent()}"></span>

            <div>
                <hr/>
                <div class="pager">
                    <div>
                        <span class="previous">
                            <th:block th:if="${previous != null}">
                                <a th:href="@{/article/{id}(id=${previous.getId()})}">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                    上一篇：<th:block th:text="${previous.getTitle()}"/>
                                </a>
                            </th:block>
                        </span>

                        <span class="next">
                            <th:block th:if="${next != null}">
                                <a th:href="@{/article/{id}(id=${next.getId()})}">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    下一篇：<th:block th:text="${next.title}"/>
                                </a>
                            </th:block>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:replace="base::side"/>
    </div>
</div>

<th:block th:replace="base::footer"/>

<script th:src="@{~/js/marked.min.js}"></script>
<script th:src="@{~/js/article.js}"></script>

</body>
</html>
