<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="header(title)">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
        <title th:text="${title}"></title>
        <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.css}"/>
        <link rel="stylesheet" th:href="@{bootstrap/css/bootstrap-theme.css}"/>
        <link rel="stylesheet" th:href="@{css/main.css}"/>
    </th:block>
</head>
<body>
<th:block th:fragment="sidebar(user, sidePosition)">
        <!-- user area -->
        <div id="title">
            <h2><a th:href="@{/}">Eros</a></h2>
            <th:block th:switch="${user}">
                <h5 th:case="null" class="text-muted">Hello <th:block th:text="Stranger"/>!</h5>
                <h5 th:case="*" class="text-muted">Hello <th:block th:text="${user}"/>!</h5>
            </th:block>
        </div>

        <!-- author info -->
        <div class="t-center" id="info">
            <img src="/static/img/avatar.jpg" th:src="@{img/avatar.jpg}" alt="头像丢失" height="130" width="130" class="img-circle"/>
            <h4 class="text-muted">xlui</h4>
            <h5 class="text-muted">Talk is cheap. Show me the code.</h5>
        </div>

        <!-- features... -->
        <div class="t-center"><br/></div>

        <!-- navigation -->
        <div id="list">
            <table class="table table-hover t-center">
                <tr class="" th:classappend="${sidePosition == 'index'} ? active : ''">
                    <td><a th:href="@{/index}"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;首页</a></td>
                </tr>
                <!--<tr class="" th:classappend="${sidePosition == ''} ? active : ''">-->
                <!--</tr>-->
            </table>
        </div>
        <br/>
</th:block>

<!-- footer -->
<th:block th:fragment="footer">
    <div>
        <a href="https://github.com/xlui/Eros"><img th:src="@{/img/github.png}" alt="图片加载失败" width="20px" height="20px" class="img-circle"/>Fork me on GitHub</a>
        &nbsp;|
        <a th:href="@{/}">Eros</a>
        <br/>
        Copyright © 2017
    </div>

    <div class="r_div">
        <a href="#"><button class="btn btn-default">返回顶部</button></a>
    </div>
</th:block>

<script type="text/javascript" th:src="@{jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>