<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="base::head(Eros)"/>
</head>
<body>

<th:block th:replace="base::masthead('home')"/>

<div class="container">
    <!--<th:block th:replace="base::header"/>-->

    <div class="row">
        <div class="col-sm-8 blog-main">

            <th:block th:replace="base::header"/>


            <th:block th:each="article: ${articles}">
                <div class="blog-post">
                    <h3 class="blog-post-title">
                        <a th:href="@{'/article/' + ${article.getId()}}">
                            <th:block th:text="${article.getTitle()}"/>
                        </a>
                    </h3>
                    <p class="blog-post-meta"><th:block th:text="${article.date}"/></p>

                    <span class="content" th:text="${article.getContent()}"></span>
                </div>
            </th:block>

            <nav>
                <ul class="pager">
                    <li><a th:href="@{/}">上一篇</a></li>
                    <li><a th:href="@{/}">下一篇</a></li>
                </ul>
            </nav>
        </div>

        <th:block th:replace="base::side"/>
    </div>
</div>

<th:block th:replace="base::footer"/>

<script th:src="@{~/js/marked.min.js}"></script>
<script th:src="@{~/js/index.js}"></script>

</body>
</html>