<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="base::head('标签 | Eros')"/>
    <link rel="stylesheet" th:href="@{css/tag.css}"/>
</head>
<body>
<th:block th:replace="base::masthead('tag')"/>

<div class="container">
    <th:block th:replace="base::header"/>

    <div class="row">
        <div class="col-sm-8 blog-main">
            <th:block th:each="tag: ${tags}">
                <div class="blog-post">
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                    &nbsp;&nbsp;
                    <a th:href="@{/tag/{tagName}(tagName=${tag.getTagName()})}">
                        <strong><th:block th:text="${tag.getTagName()}"/></strong>
                    </a>
                    &nbsp;&nbsp;
                    (<th:block th:text="${tag.getArticleList().size()}"/>)
                    <br/><br/>

                    <div class="list-group">
                        <th:block th:each="article: ${tag.getArticleList()}">
                            <li class="list-group-item">
                                <div class="tag-item">
                                    <div>
                                        <a th:href="@{/article/{id}(id=${article.getId()})}">
                                            <th:block th:text="${article.getTitle()}"/>
                                        </a>
                                    </div>
                                    <div class="article-time">
                                        <img th:src="@{img/time.png}" alt=""/>
                                        <th:block th:text="${article.getDate()}"/>
                                    </div>
                                </div>
                            </li>
                        </th:block>
                    </div>
                </div>
            </th:block>
        </div>

        <th:block th:replace="base::side"/>
    </div>
</div>

<th:block th:replace="base::footer"/>
</body>
</html>