body {
    background-color: #f9f9f9;
    margin: 0;
}

a:link {
    text-decoration: #66ccff;
}

.t-center {
    text-align: center;
}

.t-left {
    text-align: left;
}

.t-right {
    text-align: right;
}

.l_div {
    float: left;
}

.r_div {
    float: right;
}

.head_line {
    border-bottom: 1px solid #177cb0;
}

.foot_line {
    border-top: 1px solid #C0C0C0;
    margin-bottom: 20px;
}

.inline {
    display: inline;
    float: left;
    margin-left: 23px;
    margin-right: 25px;
    margin-bottom: 20px;
}

#left_content {
    /*text-align: left;*/
}

#center_content {
    margin-top: 120px;
}

#right_content {
    /*text-align: right;*/
}

#title {

}

#info {
    margin-top: 20px;
    margin-bottom: 20px;
}

#list {
    margin-top: 10px;
}

#footer {
    background-color: #f9f9f9;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
}
