<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/head::head(title='关于 | Eros')"/>
    <link rel="stylesheet" th:href="@{~/css/about.css}"/>
</head>
<body>
<th:block th:replace="common/masthead::masthead('about')"/>

<div class="container">
    <div class="row">
        <div class="col-sm-8 blog-main">
            <div class="content">
                <p>
                    Eros 是基于 Spring Boot 和 Bootstrap 的博客程序，数据库选用 MariaDB，Web 容器使用 Tomcat，Web Server 使用 Nginx，部署在 CentOS7
                    上。
                </p>
                <br/>
                <p class="link">
                    Email: <a href="mailto:i@xlui.me" target="_blank">i@xlui.me</a>
                </p>
                <br/>
                <p class="link">
                    GitHub: <a href="https://github.com/xlui/Eros" target="_blank">https://github.com/xlui/Eros</a>
                </p>
            </div>
        </div>

        <th:block th:replace="common/side::side"/>
    </div>
</div>

<th:block th:replace="common/footer::footer"/>
</body>
</html>