<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/head::head(title=${article.title} + ' | Eros')"/>
    <link rel="stylesheet" th:href="@{~/css/article.css}"/>
</head>
<body>
<th:block th:replace="common/masthead::masthead(null)"/>

<div class="container">

    <div class="row">
        <div class="col-sm-8 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title">
                    <th:block th:text="${article.title}"/>
                    <br/>
                </h2>
                <p class="blog-post-meta">
                    <i class="fa fa-fw fa-calendar"></i>
                    发表于
                    <th:block th:text="${article.create_date}"/>
                    &nbsp; | &nbsp;
                    <i class="fa fa-fw fa-folder"></i>
                    分类于
                    <a th:href="@{/sort/{name}(name=${sort.name})}">
                        <th:block th:text="${sort.name}"/>
                    </a>
                    &nbsp; | &nbsp;
                    <i class="fa fa-fw fa-comment"></i>
                    评论
                    <span class="badge" th:text="${#lists.size(comments)}"></span>
                </p>
            </div>

            <span id="content" th:text="${article.content}"></span>

            <div>
                <div class="pager">
                    <hr/>
                    <div>
                        <span class="previous">
                            <th:block th:if="${previous != null}">
                                <a th:href="@{/article/{id}(id=${previous.id})}">
                                   <i class="fa fa-fw fa-chevron-left"></i>
                                    上一篇：<th:block th:text="${previous.title}"/>
                                </a>
                            </th:block>
                        </span>

                        <span class="next">
                            <th:block th:if="${next != null}">
                                <a th:href="@{/article/{id}(id=${next.id})}">
                                    <i class="fa fa-fw fa-chevron-right"></i>
                                    下一篇：<th:block th:text="${next.title}"/>
                                </a>
                            </th:block>
                        </span>
                    </div>
                </div>
            </div>

            <div class="comment">
                <!-- 渲染评论 -->
                <th:block th:if="${comments.size()} != 0">
                    <th:block th:each="comment: ${comments}">
                        <div class="col-sm-2">
                            <div class="thumbnail">
                                <img class="img-thumbnail" src="https://www.gravatar.com/avatar/"
                                     th:src="@{'https://www.gravatar.com/avatar/' + ${comment.user_id} + '?d=identicon'}"/>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <strong>
                                        <th:block th:text="${comment.user.username}"/>
                                    </strong>
                                    <span class="text-muted">发表于 <th:block th:text="${comment.date}"/></span>
                                </div>
                                <div class="panel-body">
                                    <th:block th:text="${comment.content}"/>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </th:block>

                <!-- 对未登录用户显示 -->
                <th:block th:with="user=${session.user}">
                    <th:block th:if="${user == null}">
                        <div align="center">
                            <label for="login">登录以添加一条评论：</label>
                            <button id="login" class="btn btn-lg btn-primary" type="button"
                                    onclick="{location.href='/login/to' + location.pathname}">登录
                            </button>
                        </div>
                    </th:block>
                    <th:block th:if="${user != null}">
                        <form th:action="@{/article/{id}/comment(id=${article.getId()})}"
                              th:object="${comment_form}"
                              method="post">
                            <div class="col-sm-2">
                                <p>添加一条评论：</p>
                            </div>
                            <div class="col-sm-8">
                                <label for="comment" class="sr-only">评论</label>
                                <textarea id="comment" class="comment" th:field="*{content}"></textarea>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-primary"
                                        onclick="checkComment();">提交
                                </button>
                            </div>
                        </form>
                    </th:block>
                </th:block>
            </div>
        </div>

        <th:block th:replace="common/side::side"/>
    </div>
</div>

<th:block th:replace="common/footer::footer"/>

<script th:src="@{~/js/marked.min.js}"></script>
<script th:src="@{~/js/article.js}"></script>

</body>
</html>
