<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/head::head(title='Eros')"/>
</head>
<body>

<th:block th:replace="common/masthead::masthead('home')"/>

<div class="container">

    <div class="row">
        <div class="col-sm-8 blog-main">
            <th:block th:each="article: ${articles}">
                <div class="blog-post">
                    <h2 class="blog-post-title">
                        <a th:href="@{'/article/' + ${article.id}}">
                            <th:block th:text="${article.title}"/>
                        </a>
                    </h2>
                    <p class="blog-post-meta">
                        <i class="fa fa-fw fa-calendar"></i>&nbsp;发表于&nbsp;
                        <th:block th:text="${article.create_date}"/>
                        |
                        <i class="fa fa-fw fa-folder"></i>&nbsp;分类于&nbsp;
                        <a th:href="@{~/sorts/{sortName}(sortName=${article.sort.name})}"
                           th:text="${article.sort.name}"></a>
                    </p>

                    <span class="content" th:text="${article.content}"></span>
                </div>
            </th:block>

            <nav>
                <div class="pager">
                    <hr/>
                    <!-- Page.number 是从 0 开始计算的，page 从 0 + 1 开始计算-->
                    <!-- 所以上一页的 page = number -->
                    <!-- 下一页的 page = number + 2 -->
                    <ul>
                        <!-- 如果当前页不是第一页，加载图标 -->
                        <th:block th:if="${page} != 0">
                            <a th:href="@{/page/{p}(p=${page})}">
                                <span class="fa fa-fw fa-chevron-left"></span>
                            </a>
                        </th:block>
                        &nbsp;&nbsp;

                        <li th:each="iter: ${#numbers.sequence(1, total + 1)}">
                            <th:block th:switch="${iter}">
                                <th:block th:case="${page + 1}">
                                    <span class="page-number current" th:text="${iter}"></span>
                                </th:block>
                                <th:block th:case="*">
                                    <a th:href="@{/page/{p}(p=${iter})}" class="page-number" th:text="${iter}"></a>
                                </th:block>
                            </th:block>
                            <th:block th:if="!${page == total}">
                                &nbsp;&nbsp;
                            </th:block>
                        </li>

                        &nbsp;&nbsp;
                        <!-- 如果当前页不是最后一页，加载图标 -->
                        <th:block th:if="${page != total}">
                            <a th:href="@{/page/{p}(p=${page} + 2)}">
                                <span class="fa fa-fw fa-chevron-right"></span>
                            </a>
                        </th:block>
                    </ul>
                </div>
            </nav>
        </div>

        <th:block th:replace="common/side::side"/>
    </div>
</div>

<th:block th:replace="common/footer::footer"/>

<script th:src="@{~/js/marked.min.js}"></script>
<script th:src="@{~/js/index.js}"></script>

</body>
</html>