<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/head::head(title='注册 | Eros')"/>
    <link rel="stylesheet" th:href="@{~/css/register.css}"/>
</head>
<body>
<br/><br/><br/><br/><br/>
<div class="container">
    <form id="register" class="form-register" th:action="@{/register}" th:object="${user}" method="post">
        <a th:href="@{/}"><h1 align="center" class="form-register-heading">Eros</h1></a>
        <br/>
        <th:block th:if="${failed}">
            <th:block th:replace="common/prompt::prompt('用户名已存在！')"/>
        </th:block>
        <br/>
        <label for="username">用户名：</label>
        <input id="username" class="form-control" type="text" th:field="*{username}" placeholder="请输入用户名"
               required="required" autofocus="autofocus"/>

        <label for="password">密码：</label>
        <input id="password" class="form-control" type="password" th:field="*{password}" placeholder="请输入密码"
               required="required"/>

        <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
    </form>
</div>

<script th:src="@{~/js/jquery.min.js}"></script>
<script th:src="@{~/js/register.js}"></script>
</body>
</html>