<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/head::head(title='分类 | Eros')"/>
    <link rel="stylesheet" th:href="@{~/css/sort.css}"/>
</head>
<body>
<th:block th:replace="common/masthead::masthead('sort')"/>

<div class="container">
    <div class="row">
        <div class="col-sm-8 blog-main content">
            <th:block th:each="sort: ${sorts}">
                <div class="blog-post">
                    <i class="fa fa-fw fa-chevron-down"></i>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a th:href="@{/sort/{sortName}(sortName=${sort.name})}">
                        <strong>
                            <th:block th:text="${sort.name}"/>
                        </strong>
                    </a>
                    &nbsp;&nbsp;
                    <span class="badge" th:text="${sort.articles.size()}"></span>
                    <br/><br/>

                    <div class="list-group">
                        <th:block th:each="article: ${sort.articles}">
                            <li class="list-group-item sort-item">
                                <div>
                                    <a th:href="@{/article/{id}(id=${article.id})}" th:title="${article.title}">
                                        <th:block th:text="${article.title}"/>
                                    </a>
                                </div>
                                <div class="article-time">
                                    <img th:src="@{~/img/time.png}" alt="date" title="Date"/>
                                    <th:block th:text="${article.create_date}"/>
                                </div>
                            </li>
                        </th:block>
                    </div>
                </div>
            </th:block>
        </div>

        <th:block th:replace="common/side::side"/>
    </div>
</div>

<th:block th:replace="common/footer::footer"/>
</body>
</html>